<%- include('partials/header') %>
    <div class="container">
        <div id="main-content" class="centre">
            <h1 id="main-text"><strong>Security at your hands.</strong></h2>
            <p id="sub-text">MyKey provides an unintrusive way of generating and storing passwords.</p>
            <button id="get-started-button" type="button"><a href="/register">Get Started</a></button>
        </div>
        <div id="show-features">
            <div class="feature">
                <h3>Account Management</h3>
                <img src="copyright-free-images/img/edit-account.png">
            </div>
            <div class="feature"> 
                <h3>Simple design; Easy to use</h3>
                <img id="simple-img" src="copyright-free-images/img/simple-display.png">
            </div>
            <div class="feature">
                <h3>Generate Strong Password</h3>
                <img src="copyright-free-images/img/password-generator.png">
            </div>
        </div>
    </div>
<%- include('partials/footer') %>
