#accounts-container{
    width: 100%;
}
.account-cards{
    float: left;
    width: 230px;
    outline: 3px solid #0E0B16;
    margin-top: 30px;
    margin-left: 40px;
}

.small-icon{
    width: 100%;
    height: 50px;
}

.small-icon img{
    margin-top: 10px;
    margin-left: 40%;
    height: 35px;
}

.acc-title{
    text-align: center;
}

.account-cards p {
    margin: 5px;
}

.show-button{
    background-color: #0E0B16;
    width: 75px;
    height: 30px;
    padding: 2px 0 0 18px;
    border-radius: 6px;
}

.show-button a{
    color: white;
}

.show-button a:hover{
    text-decoration: none;
    color: #A239CA;
}

#new-account-button{
    margin-top: 30px;
    margin-left: 40px;
    padding-top: 12px;
    text-align: center;
    float: left;
    width: 175px;
    height: 50px;
    border-radius: 10px;
    background-color: #0E0B16;
    color: white;
}

#new-account-button:hover{
    color: #A239CA;
    text-decoration: none;
    transition: 0.2s;
}

@media screen and (max-width: 992px) {

    .account-cards{
        margin-right: 60px;
    }

}

@media screen and (max-width: 768px) {

    .account-cards{
        width: 300px;
        
    }

}

@media screen and (max-width: 420px) {

    .account-cards{
        width: 250px;
        
    }

}
