
#gen-container{
    margin: 15% auto;
    width: 30%;
    padding: 15px;
    background-color: #1A0315;
    outline: 3px solid #0E0B16;
    color: white;
}

.textArea{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 25px;
}

#lowerCase{
    margin-left: 50px;
}

#symbols{
    margin-left: 67px;
}

#slider-container{
    display: inline-flex;
}

#passwordLength{
    width: 90%;
    color: #0E0B16;
    border-radius: 5px;
}

#sixFigure, #twentyFigure{
    margin-top: -2px;
    margin-right: 2px;
}

#generateButton, #saveButton{
    height: 40px;
    background-color: #0E0B16;
    color: white;
    border-radius: 10px;
}

#saveButton{
    float: right;
}

#generateButton:hover, #saveButton:hover{
    color: #A239CA;
    background-color: white;
    transition: 0.25s;
}

@media screen and (max-width: 1200px) {
    
    #gen-container{
        width: 35%;
    }

}

@media screen and (max-width: 992px) {
    
    #gen-container{
        width: 50%;
    }

}

@media screen and (max-width: 768px) {
    
    #gen-container{
        width: 65%;
    }

}

@media screen and (max-width: 525px) {
    
    #gen-container{
        width: 75%;
    }

}

@media screen and (max-width: 470px) {
    
    #gen-container{
        width: 85%;
    }

}

@media screen and (max-width: 410px) {
    
    #gen-container{
        width: 100%;
    }

}