<%- include('../partials/header') %>
<div class="container">
    <div id="register-container">
        <h3 id="create-account-text">Create A New Account</h3>
        <form action="/register" method="POST">
            <label class="normal-text">Username</label>
            <input id="username-area" type="text" name="username" required>

            <label class="normal-text">Password</label>
            <input class="password-area" id="password-1" type="password" name="password" required>

            <label class="normal-text" id="verify">Re-type Password</label>
            <input class="password-area" id="password-2" type="password" name="verify" onkeyup="checkIfPasswordMatch()" required>


            <button id="register-button" type="submit">Register</button>
        </form>
    </div>
</div>
<script src="/js/register.js"></script>
<%- include('../partials/footer') %>
